# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.env*
.env.*

# Version control
.git/
.gitignore

# IDE
.vscode/
.idea/

# Deploy scripts
scripts/

# Docker
.dockerignore

# OS artifacts
.DS_Store
Thumbs.db
